<h1>Hahowa mon cadeau a borass</h1>
<h2 class="center">من الكارة</h2>

<div class="body first">
  <div class="card" *ngFor="let pic of list">
    <div class="card-wrapper">
      <div class="hidden-cover"></div>
      <img [src]="pic.src" />
      <h4>{{pic.tag}} </h4>
    </div>
  </div>
</div>

<h2 style="margin-top: 3rem;" class="center">Grenoble <br> (ملحقة الكارة)</h2>
<div class="center vid">
  <video controls src="assets/images/VID.mp4"></video>
</div>

<h2 class="center"> إلى باريس</h2>
<div class="body">
  <div class="card">
    <div class="card-wrapper">
      <img src="assets/images/DSC.jpeg" />
      <h4>Mkessel</h4>
    </div>
  </div>
</div>